<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found</title>
</head>
<body>
    <style>
        #wrong-text > h1{
            font-size: 33;
            color: 22;
        }
    </style>
    <div id="wrong-text">
        <img src="{% static 'board/image/404.jpg' %}" alt="Sorry... Something wrong...404">
    </div>

</body>
</html>