{% extends 'layout/basic.html' %}

{% block title %} Страница с объявлением {% endblock %}
<!-- !!!!!!!!!!!!!!!!!!!!!!bb это лист объектов, которые передала нам форма, мы его имя не меняли!!!!!!!!!!!!!!!!!!!!!-->
{% block content %}
<div class="detail-content">
    <div class="detail-href">
        <h3>Категория/ <a href="{{bb.rubric.get_absolute_url}}">{{bb.rubric.name}}</a></h3>
    </div>


    <div class="about">
        {% if bb.photo %}
        <img src="{{ bb.photo.url }}" alt=" Sorry...Image cannot load...">
        <h2>{{bb.title}}</h2><br>
        <h2>Цена: ${{bb.price}}</h2>
        <h4>Описание:</h4>
        <div class="contentic">
            <p>{{bb.content}}</p>
        </div>
        {% else %}
        <h2>{{bb.title}}</h2><br>
        <h2>Цена: ${{bb.price}}</h2>
        <h4>Описание:</h4>
        <div class="contentic">
            <p>{{bb.content}}</p>
        </div>
        {% endif %} 
</div>




{% endblock %}
